<%- include("./common/head")%>
    <style>
        .image{
            max-width: 100%;
        }
        .image img {
            width: 400px;
            height: 400px;
            border-width: 2px;
            border-color: #555;
            border-style: solid;
            margin-top: 10px;
            margin-right: 250px;
            margin-left: 450px;
            max-width: 100%;

            
        }
        .pname{
            text-align: center;
            font-size: 40px;
            font-weight: bold;
            text-decoration: underline;
        }
        .pdetail{
            text-align: center;
            font-size: 20px;
            font-weight: lighter;
            text-transform: capitalize;

        }
        h5{
            font-style:italic;
            text-transform: capitalize;
            text-decoration: underline;
            font-weight: 800;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .pdetail p{
            font-weight: bold;
            text-decoration: underline;
        }
        .pinfo{
            text-transform: capitalize;
            
            text-align: center;
            padding-bottom: 80px;
        }
    </style>
    <body>
        <header>
            <%- include("./common/header")%>
        </header>
        <div class="pname">
            <%= data.productname %>
        </div>

        <div class="image">
            <img src="<%= data.product_image %>" alt="img-fluid">
        </div>
        <h5>See details below:</h5>
        <div class="pdetail"><p>Price: <strong>Rs. <%= data.price%></strong></p></div>
        <div class="pdetail">Color: <%= data.color%></div>
        <div class="pdetail">Quantity: <%= data.quantity%></div>
        <div class="pdetail">Brand: <%= data.brandname%></div>
        <div class="pinfo">Information: <%= data.productdetail%><br><br>
            <!-- <label class="form-label">Quantity:</label> -->
            <!-- <input type="text" name="quntityinput" placeholder="Add quantity" id="addquantity"><br> -->
            
            <!-- <button class="btn btn-primary" onclick="myfun(`<%=JSON.stringify(data)%>`)">ADD to Cart</button> -->
            <center><div  class="col-md-3 col-lg-3 col-xl-2 d-flex">
                <label class="form-label"><strong>Quantity:</strong></label>
                <button class="btn btn-link px-2"
                  onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                  <i class="fas fa-minus"></i>
                </button>

                <input id="addquantity" min="0" name="quantity" value="1" type="number"
                  class="form-control form-control-sm" />

                <button class="btn btn-link px-2"
                  onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                  <i class="fas fa-plus"></i>
                </button>
            </div><br>
                <button class="btn btn-primary" onclick="myfun(`<%=JSON.stringify(data)%>`); popUp()">ADD to Cart</button>
        </center>
            
            <script>
                function myfun(data){
                    let datas=JSON.parse(data);
                let qty=document.getElementById("addquantity").value
                datas.quantity=qty;
                console.log({token:document.cookie})
                fetch('/add', {
                    method: 'POST',
                    body: JSON.stringify(datas),
                    headers: { 'Content-Type': 'application/json' ,
                    cookie:document.cookie
                    
                }
                }).then(res => res.json())
                  .then(json => console.log(json));
                }

                function popUp(){
                    swal("Great!","your product is added in your cart section and you can check it by clicking cart icon.","success");
                }
                
            </script>
        </div>
        <footer>
            <%- include("./common/footer")%>
        </footer>
    </body>
    </html>