<%- include("./common/head")%>
  
<body>
    <header>
        <%- include("./common/header")%>
    </header>
<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
    
    <div class="col-md-10">
      <div class="card"  style="background:radial-gradient(#fff,#ffd6d6);">
        <div class="row">
          <div class="col-md-6">
            <div class="images p-3">
              <div class="text-center p-4">
                <img
                  id="main-image"
                  src="<%= data.product_image %>"
                  width="250"
                />
              </div>
              <div class="thumbnail text-center">
                <img
                  onclick="change_image(this)"
                  src="<%= data.product_image %>"
                  width="70"
                />
                <img
                  onclick="change_image(this)"
                  src="<%= data.product_image %>"
                  width="70"
                />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="product p-4">
              <!-- <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  <i class="fa fa-long-arrow-left"></i>
                  <span class="ml-1">Back</span>
                </div> -->
                <!-- <i class="fa fa-shopping-cart text-muted"></i> -->
              <!-- </div> -->
              <div class="mt-4 mb-3">
                <!-- <span class="text-uppercase text-muted brand">Orianz</span> -->
                <h5 class="text-uppercase" style="text-decoration:underline;">Product name: <%= data.productname %></h5>
                <div class="price d-flex flex-row align-items-center">
                  <div class="act-price"><strong>Price: Rs.<%= data.price%> </strong></div>
                  
                  <!-- <div class="ml-2">
                    <small class="dis-price">$59</small> <span>40% OFF</span>
                  </div> -->
                </div>
                <div>Color: <%= data.color%></div>
                <div>Brand name: <%= data.brandname%></div>

              </div>
              <p class="about">
                  Description: <%= data.productdetail%>
              </p>
              <div class="sizes mt-5">
                <h6 class="text-uppercase">Size</h6>
                <label class="radio">
                  <input type="radio" name="size" value="S" checked />
                  <span>S</span>
                </label><br>
                <label class="radio">
                  <input type="radio" name="size" value="M" /> <span>M</span>
                </label><br>
                <label class="radio">
                  <input type="radio" name="size" value="L" /> <span>L</span>
                </label><br>
                <label class="radio">
                  <input type="radio" name="size" value="XL" /> <span>XL</span>
                </label><br>
                <label class="radio">
                  <input type="radio" name="size" value="XXL" />
                  <span>XXL</span>
                </label>
              </div>
              <div class="cart mt-4 align-items-center">
                <!-- <button class="btn btn-danger text-uppercase mr-2 px-4">
                  Add to cart
                </button> -->

                <div  class="col-md-3 col-lg-3 col-xl-2 d-flex">
                  <label class="form-label"><strong>Quantity:</strong></label>
                  <button class="btn btn-link px-2"
                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                    <i class="fas fa-minus"></i>
                  </button>
      
                <input id="addquantity" min="0" name="quantity" value="1" type="number"
                    class="form-control form-control-sm" />
      
                  <button class="btn btn-link px-2"
                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                    <i class="fas fa-plus"></i>
                  </button>
                </div><br>
                  <button class="btn btn-primary" onclick="myfun(`<%=JSON.stringify(data)%>`);popUp()">ADD to Cart</button>
          
                <!-- <i class="fa fa-heart text-muted"></i> -->
                <!-- <i class="fa fa-share-alt text-muted"></i> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function myfun(data){
      let datas=JSON.parse(data);
      let qty=document.getElementById("addquantity").value
  datas.quantity=qty;
  console.log({token:document.cookie})
  fetch('/add', {
      method: 'POST',
      body: JSON.stringify(datas),
      headers: { 'Content-Type': 'application/json' ,
      cookie:document.cookie
      
  }
  }).then(res => res.json())
    .then(json => console.log(json));
  }

  function popUp(){
      swal("Great!","your product is added in your cart section and you can check it by clicking cart icon","success");
  }
</script>
</div>

<footer>
    <%- include("./common/footer")%>
</footer>

</body>
</html>

<!-- <script>
  function change_image(image) {
    var container = document.getElementById("main-image");

    container.src = image.src;
  }

  document.addEventListener("DOMContentLoaded", function (event) {});
</script>
 -->



