



<%- include("./common/head")%>
<body>
    <header>
        <%- include("./common/header")%>
    </header>
<div class="featured">
    <div class="small-container">
        <h2 class="title">Featured products</h2>
        <div class="row">
            
                <% if(data.length){%>
                    <% for(let i of data){ %> 
                        <div class="col-4">
                                    <img src="<%= i.product_image %>" alt="img-fluid">
                           
                                <h4><%= i.productname %></h4>
                                <p>price:<strong>$<%= i.price%></strong></p>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i><br>    
                                    <div class="btn"><a href="/details/<%= i.id %>" class="btn btn-primary">View Details</a></div>
                                    <a href="/cart/<%= i.id %>"><button class="btn btn-primary">ADD to Cart</button></a>
                                </div>
                            </div>
                         
                
                    <% } %>
                <% } else { %> <div>no product available</div> <% } %>
            
        

                        
            
            </div>

        </div>
    </div>
</div>

    

    <footer>
        <%- include("./common/footer")%>
    </footer>

    
</body>
</html>
